<!DOCTYPE html>
<html>
  <head>
    <title>SalarymanProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <script type="module">
      // Add a leading slash if it was missing
      import RefreshRuntime from 'http://localhost:5173/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>

    <% if Rails.env.development? %>
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/app/frontend/entrypoints/app.jsx" defer></script>
    <% else %>
      <script type="module" src="http://localhost:5173/app/frontend/entrypoints/app.jsx" defer></script>
    <% end %>
  </body>
</html>
